.css{
    background-color: rgb(65, 65, 231);
    color: rgb(2, 2, 77);
}
.explore{
    
    color:purple;
}
.hello{
    background-color:yellow;
    color: orange;
}
.un{
    background-color: seagreen;
    color: rgb(17, 26, 2);
}